<ion-content>
  <div id="header">
    <img src="../../../assets/calendar.png" alt="" />
  </div>
  <div id="conteudo">
    <div id="form-login">
      <div class="form-login-content">
        <ion-item>
          <ion-label position="floating">Nome</ion-label>
          <ion-input type="text" name="nome" [(ngModel)]="usuario.nome"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input type="email" name="email" [(ngModel)]="usuario.email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" name="senha" [(ngModel)]="usuario.senha"></ion-input>
        </ion-item>
        <ion-button expand="block" mode="ios" (click)="registrar()" [disabled]="!usuario.nome || !usuario.email || (usuario.senha.length < 6)" >Finalizar cadastro</ion-button>
      </div>
    </div>
  </div>
</ion-content>
