ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
#show-date p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #828282;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
}

#compromissos{
  position: fixed;
  bottom: 0;
  background-color: var(--ion-color-primary);
  height: 65%;
  width: 100%;
  border-radius: 50px 50px 0px 0px;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}

#conteudo{
  margin-top: 2%;
  color: #ffffff;
  align-items: center;
  width: 90%;
}