<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu persi contentId="main-content" menuId="menu" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <div style="display: flex">
            <ion-avatar>
              <img src="../assets/user-female.png" />
            </ion-avatar>
            <div>
              <ion-list-header>{{displayName}}</ion-list-header>
              <ion-note>{{email}}</ion-note>
            </div>
          </div>

          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let p of appPages; let i = index"
          >
            <ion-item
              routerDirection="root"
              [routerLink]="[p.url]"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer text-center>
        <ion-toolbar>
          <ion-title [routerLink]="['/login']" routerLinkActive="router-link-active" >Sair</ion-title>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet main id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
